.nav-bar{
    display: none;
}
.nav-search-icon{
    display: none;
}
.nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 34px 20px;
}




@media (min-width: 1125px){
    .nav-logo img:hover{
        transform: scale(1.1);
      }
    #slider figure img:hover{
        transform: scale(1.1);
      
      }  
}

@media (max-width: 1388px){
    .nav-logo img {
        margin-left: 52px;
    }
    .middle label {
        font-size: 1.5rem;
    }

    .right input {
        width: 30%;
    }
    .btn:link, .btn:visited {
        padding: 9px 19px;
    }
    #container {
        height: 25rem;
        padding: 0rem 7rem;
    }
    #navbar ul li {
        margin: 0px 5px;
        padding: 4px 8px;
    }
    #navbar ul li a {
        padding: 5px 7px;
    }
    .feature-box {
        margin: 1rem;
        padding: .5rem;
        height: 21rem;
        width: 15%;
    }
    .col-1-of-3 {
        flex-wrap: wrap;
     }
     .facualti-flex-1-of-2 {
        flex-wrap: wrap;
    }


}


@media (max-width: 1125px){
    .nav-logo img {
        margin-left: 0px;
    }
    .middle label {
        font-size: 1.2rem;
    }
    nav .right {
        width: 25%;
    }
    #container {
        height: 21rem;
        padding: 0rem 7rem;
    }
    #slider figure img {
        height: 21rem;
    }
    .section__container2{
        grid-template-columns: 98%;
        justify-content: center;
    }
    .container__massege{
        background-color: #413c3c;
        color: white;
        padding: 1rem 3rem;
    }
    .panel {
        padding: 1rem 2rem;
        margin: 0px;
        list-style: none;
    }
    .section__right .notic {
        margin: 7%;   
    }
    .feature-box {
        margin: 1rem;
        padding: .5rem;
        height: 21rem;
        width: 22%;
    }
    .faculti-box-image {
        margin: 8px;
    }
    .faculty-information label {
        display: none;
    }
    .middle p {
        font-size: 1.5rem;
      }

   

}
@media (max-width: 900px){
    .nav-logo img {
        margin-left: 0px;
    }
    .middle label {
        font-size: 1.1rem;
    }
    nav .right {
        width: 30%;
    }
    .btn:link, .btn:visited {
        padding: 6px 12px;
    }
    .section__container2{
        /* display: none; */
        grid-template-columns: 90%;
    }
    .heading__three i {
        padding: 5px 4px 0px 5px;
        font-size: 19px;
        margin: 0;
        text-align: center;
        box-shadow: 0px 0.5px 3px 1px #000;
    }
    .footer-nav{
        flex-wrap: wrap;
      }
      .middle p {
        font-size: 1.2rem;
      }


}

@media (max-width: 833px){
    nav .nav-logo{
        margin-left: 50px;
       
    }
    .nav-logo img {
        margin: 7px auto;
    }
    .middle{
        margin: 21px auto;
    }
    .middle a {
        text-align: justify;
    }
    .middle label {
        font-size: 1.1rem;
    }
    .middle label:last-child {
        font-size: .8rem;
    }
    .search-bar{
        display: none;
    }
    .nav-bar{
        display: block;
    }
    .nav-search-icon{
        display: block;
    }
    
    .act{
        display: block;
    }
    
    nav .right {
        width: 120px;
        margin-right: 20px;
    }
    .btn:link,
    .btn:visited {
        padding: 1px 5px;
        font-size: .9rem;
    }
    .right input {
        font-size: .9rem;
        padding: 2px 1px;
        width: 86%;
    }
    #container{
        height: 21rem;
        padding: 0rem 0rem;
      }
    #slider{
        height: 22rem;  
      }
    .fearture-box__icon {
        font-size: 2rem;
        color: rgb(59, 211, 135);
    }
    #navbar{
        position: absolute;
        top: 83px;
        left: 0;
        background-color: rgba(155, 126, 126, 0.728);
    }
  
    .navigation{
        display: none;
    }
    .open{
        display: block;
        
    }
    #navbar ul {
        flex-direction: column;
        align-items: center;
        padding: 34px;
    }
    .sub-menu-4{
        display: none;
        position: absolute;
        width: 95%;
        margin-left: 100px;
        margin-top: -28px;

      
      }
    .sub-menu-4 ul{
          padding: 4px 10px !important;
          position: absolute;
          
          
    }
    #navbar ul li:hover .sub-menu-4{
            border-radius: 10px;
            background-color: rgba(74, 67, 67, 0.571);
            margin-left: 100px;
            margin-top: -28px;
        
    }
    .ul-sub-menu li{
            margin: 0px 0px;
            padding: 4px 8px;
            
        }
    .ul-sub-menu li a{
    font-size: 1.1rem;
    padding: 5px 10px;   
    }
    .caret {
        border-left: 4px dashed;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    #navbar ul li {
        margin: 0px 0px;
        padding: 14px 2px;
    }
    li .active {
        display: block;
    }
    .section__container2 {
        grid-template-columns: 100%;
    }
    .flex-1-of-2 {
        justify-content: center;
    }
    .flex-left{
        width: 50%;
    }
    .notic-head{
        width: 50%
    }
    .flex-right{
        display: none;
    }
    .flex-left img {
        margin-left: 15%;
        height: 40%;
        width: 64%;
    }
    .feature-box {
        margin: 1rem;
        padding: .5rem;
        height: 21rem;
        width: 30%;
    }
    .second {
        width: 85%;
        height: 256px;
    }
      

}

@media (max-width: 661px){

    #container{
        height: 20rem;
        padding: 0rem 0rem;
      }
    #slider{
        height: 20rem;  
      }
    .middle label {
        font-size: 1rem;
    }
    .heading-first{
        font-size: 1.6rem;
        
      }
    .container__massege {
       padding: 1rem .5rem;
    }
    .heading__three i {
        margin: 5px;
    }
    .flex-left-text h3 {
        line-height: 1.5rem;
        background-color: transparent;
        font-size: 1rem;
    }
    .flex-left img {
        margin-left: 32%;
        height: 19%;
        width: 31%;
    }
    .fearture-box__icon {
        font-size: 3rem;
        color: rgb(59, 211, 135);
    }
  


}
@media (max-width: 450px){
    .right input {
        width: 96%;
    }
    .btn:link,
    .btn:visited {
        padding: 1px 5px;
        font-size: .9rem;
    }
    .right input {
        font-size: .9rem;
        padding: 2px 1px;
    }

    nav .right {
        width: 100px;
    }
    .middle a {
        text-align: left;
    }
      
    nav .nav-logo {
        margin-left: 36px;
    }
    #container{
        height: 12rem;
        padding: 0rem 0rem;
      }
    #slider{
        height: 13rem;  
      }
    #slider figure img{
        height: 12rem;
      
    }
    .middle{
        margin: 10px auto;
    }
    .middle label {
        font-size: .9rem;
    }
    .middle label:last-child {
        font-size: .7rem;
    }


    #navbar ul {
        padding: 23px;
    }
    #navbar{
        top: 86px;

    }

    .nav-bar{
        padding: 26px 14px;
    }
    .flex-1-of-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .flex-left{
        width: 98%;
    }
    .notic-head{
        width: 98%;
    }
    .section__right{
        grid-template-columns: 100%;
    }
    .feature-box {
        margin: 1rem;
        padding: .5rem;
        height: 17rem;
        width: 100%;
    }
    .Important {
        font-size: 1.5rem;
    }
    .button-link li a {
        font-size: .9rem;
     
    }
    .second img {
        width: 53%;
    }
    .second {
        width: 100%;
        height: 256px;
    }
 
  

      


}
@media (max-width: 361px){
    .middle label {
        font-size: .8rem;
        display: block;
    }
    .second img {
        width: 92%;
    }

}